html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}                                           /*css reset樣式*/

.wrap{
    width: 1024px;
	margin: auto;
}
a{
	text-decoration: none;
}
.header{
	background: white;
	float: left;
	width: 1002px;
	height: 70px;
}
.toplist{
	margin-top: 304px;
	width: 1002px;
}
.toplist ul{
	background: #f6f6f6;
	float: right;
}
.toplist li{
	float: left;
	padding: 7px;
}
.fb{
	color: #4460a0;
	margin-left: 832px;
}
.twitter{
	color: #00aaec; 
}
.toplist a{
	display: block;
	opacity:1;
}
.toplist a:hover{
	opacity:0.6;
}

h1{
	float: left;
}
h1 a{
	background-image: url("../img/logo.png");
	background-repeat: no-repeat;
	width: 170px;
	height: 36px;
	display: block;
	text-indent: 101%;				/*字首縮排  101%為超出區域1%*/
	overflow: hidden;				/*超出區域的顯示方式改為hidden*/
	white-space: nowrap;			/*為避免超出區域時換行  設定為不換行*/
	margin:17px 0px 17px 16px;
	opacity:1;
}
h1 a:hover{
	opacity:0.6;
}
.aboutus{
	float: right;
}
.aboutus li{
	float: left;
	line-height: 70px;
}
.aboutus li a{
	padding-left: 17px;
	padding-right: 17px;
	display: block;
	color: #00cc99;
}
.aboutus li a:hover{
	border-bottom: #00cc99 solid 2px;
	color: red;
}
.banner{
	z-index: -1;
	position: relative;
	width: 1002px;
	height: 418px;
	background-image: url("../img/Banner.png")
}

.inbanner{
	font-family:Microsoft JhengHei;
	padding: 30px 590px 30px 16px;
	background:rgba(0,0,0,0.15);
	line-height: 48px;
	display: block;
	color: white;
	font-size: 36px;
	position: absolute;
	top: 180px;
	font-weight:bold;
}
.introduction{
	width: 1006px;
	margin: 53px auto 0px auto;
}
.introduction li{
	float: left;
	width: 300px;
	height: 350px;
	margin-right: 32px;
	border-radius: 5px;			/*邊角圓弧化*/
	box-shadow: 1px 3px 5px gray;  /*區塊陰影  三個值依序為x軸陰影,y軸陰影,陰影柔焦程度*/
}
.introduction li .html{
	margin: 25px 90px 0px 90px;
}
.introduction h2{
	text-align: center;
	font-size: 22px;
	font-family: Microsoft JhengHei;
	line-height: 36px;
}
.introduction p{
	margin-left: 12px;
	margin-right: 6px;
	font-family: Microsoft JhengHei;
	line-height: 24px;
	letter-spacing:1px;
}
.responsive{
	margin: 50px 40px 27px 40px;
}
.introduction p span{
	letter-spacing:5px;		/*字體間距*/
}
.jquery{
	margin: 32px 93px 8px 93px;
}
.introduction .jqueryli1{
	box-shadow: 0px 0px 0px white;		/*重置父元素的li陰影*/
	height: 24px;
	margin: 1px 0px 1px 16px;
}
.clear{
	clear:both;
	}

.dtitle{
	font-weight:bold;
	float: left;
	margin:60px 340px 50px 340px;
	font-size: 34px;
	font-family: Microsoft JhengHei;
}
tr,td,th{
	text-align: left;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd;
	padding: 15px 113px 15px 30px;
	font-family: Microsoft JhengHei;
}
th{
	font-weight:bold;
	font-size: 18px;
}
.tr1{
	background-color:#f7f7f7;
}
.great{
	color: #00a67d;
}
.data{
	position: relative;			/*給送出按鈕相對位置調整*/
	margin-top: 60px;
	float: left;
	width: 1000px;
	height: 415px;
	background: -webkit-linear-gradient(#00644b,#009872);
}
.indata{
	text-align: center;
	color: white;
	font-family: Microsoft JhengHei;
	font-size: 26px;
	line-height: 40px;
	margin: 40px 0px 20px 0px;
}
.introduce{
	padding: 5px;
	float: left;
	margin: 10px 0px 10px 16px;
	border-radius: 5px;
}
.label{
	font-family: Microsoft JhengHei;
	margin: 20px 0px 0px 30px;
	color: white;
}
.textarea{
	padding-left: 10px;
	height: 30px;
	width: 493px;
	margin: 8px 0px 8px 30px;
	border-radius: 5px;
}
.button{
	cursor: pointer;			/*設定為可點選樣式*/
	color: white;
	width: 70px;
	height: 32px;
	background: #00cc99;
	border-radius: 5px;
	margin: 10px 0px 0px 469px;
	font-family: Microsoft JhengHei;
}
.button:hover{				/*按鈕hover時往右下些許移動 看起來有按下去的效果*/
	position: absolute;		/*設置絕對位置*/
	color: red;
	right: 21px;			/*box內的位置調整*/
	bottom: 26px;
	background: white;
}
.footer{
	margin-top: 23px; 
	margin-bottom: 52px;
	width: 1000px;
	float: left;
}
.footer img{
	margin-left: 16px;
	float: left;
	opacity:1.0;				/*可使物件半透明濾鏡  1.0為正常狀態 0.6時為透明40%*/
}
.footer img:hover{
	opacity:0.6;
}
.contact{
	font-family: Microsoft JhengHei;
	float: right;
	width: 220px;
	margin-right: 10px;
	font-size: 14px;
	line-height: 24px;
}
.contact a{
	opacity:1;
	color: red;
}
.contact a:hover{
	opacity:0.6;
}
